version: "2"
services:

  web:
    restart: always
    build: .
    ports:
      - "5000:5000"
    links:
      - db 
  
  front:
    build: ./client/
    ports:
      - "3000:3000"
    links:
      - web

  db:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - ./data:/data/db
